/* orange: #f85210 */

/* @group reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }

/* @end reset */

/* @group default */

html {
overflow-y: scroll;
padding: 0 1.5em;
}
body {
font: 100%/1.5 "Helvetica Neue", Arial, sans-serif;
width: 40em;
max-width: 100%;
margin: auto;
padding: 3em 0;
color: #444;
background: #fff;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
p,
pre,
ul {
margin-bottom: 1.5em;
}
ul {
list-style: square;
}
pre {
white-space: pre;
white-space: pre-wrap; 
word-wrap: break-word;
}
a {
color: #f85210;
text-decoration: none;
}
a:hover,
a:focus {
text-decoration: underline;
}
a:active {
color: black;
}
code,
textarea {
color: chocolate;
font-family: Menlo, Monaco, 'Courier New', monospace;
font-size: 90%;
}
h1 {
font-size: 3em;
font-weight: bold;
color: #f85210;
}
h2 {
font-weight: bold;
font-size: 1.5em;
line-height: 1.2;
margin-bottom: .66666666666667em;
}
h3 { font-weight: bold; }
label { display: block; }
label[for] { cursor: pointer; }
label[for]:after { content: ':'; }
/* Default textarea styling */
textarea {
vertical-align: middle;
width: 100%;
height: 10em;
margin: 0 0 1.5em;
padding: 1.5em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
resize: vertical;
border: 1px solid #aaa;
-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .1);
box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .1);
-webkit-font-smoothing: antialiased;
}
textarea[readonly] { cursor: pointer; }
small {
font-size: .875em;
color: #aaa;
}

/* @end default */

/* @group page components */

.tagline {
color: #aaa;
font-size: 1.5em;
border-bottom: 1px solid #eaeaea;
padding-bottom: .95833333333333em;
}

.autogrow-container { margin-bottom: 1.5em; }

/* @end page components */