.autogrow {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
}
.autogrow-area,
.autogrow-mirror {
  background: transparent;
  font: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 0;
  padding: 1em;
  margin: 0;
}
.autogrow-area {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  resize: none;
}
.autogrow-mirror {
  display: block;
  visibility: hidden;
}
