/* @group reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* @end reset */

/* @group default */

:root {
  --pre-color: darkorange;
  --token-keyword: orange;
  --token-constant: deepskyblue;
  --token-function: deeppink;
  --token-string: lightcoral;
  --token-number: violet;
  --token-param: gold;
  --token-comment: slategray;
  --color-darker: #222;
  --color-dark: #333;
  --color-light: #eee;
  --color-lighter: #fff;
  --table-border-color: var(--color-light);
  --main-color: var(--color-lighter);
  --shadow-color: var(--color-lighter);
  --pre-background-color: var(--color-light);
  --area-color: var(--color-darker);
  --main-border-color: #d3d3d3;
  --demo-border-color: var(--main-border-color);
  --link-color: crimson;
}

html {
  overflow-y: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--color-dark);
  background: var(--color-light);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: var(--color-darker);
    --shadow-color: var(--color-darker);
    --pre-background-color: var(--color-dark);
    --table-border-color: var(--color-dark);
    --main-border-color: #131313;
    --demo-border-color: var(--color-darker);
    --link-color: rgb(248, 88, 88);
    --area-color: var(--color-light)
  }

  html {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

@media (min-width: 40rem) {
  body {
    font-size: 1.25rem;
  }
}

textarea {
  color: var(--area-color);
  background-color: var(--main-color);
  font: inherit;
  vertical-align: middle;
  padding: 1rem;
  border: 0;
  resize: vertical;
}

p,
pre,
ul {
  margin-bottom: 1.5rem;
}

ul {
  list-style: square;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: .25rem .5rem;
  border-color: var(--table-border-color);
  border-style: solid;
}

th {
  border-bottom-width: 2px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1rem;
}

pre,
code {
  font-size: 1rem;
  background-color: var(--pre-background-color);
  font-family: Cascadia Code, Fira Code, ui-monospace, Menlo, 'Courier New', Courier, monospace;
  border-radius: .25rem;
}

:not(pre) code {
  padding: .25rem;
}

a,
a:link,
a:visited {
  /* color: #f85210; */
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  /* color: black; */
}

h1 {
  font-size: 1.85rem;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: .5em;
}

h2 {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.125;
  margin-bottom: 20px;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

h3 {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: .5em;
}

label[for] {
  cursor: pointer;
}

/* label[for]:after { content: ':'; } */
/* Default textarea styling */

em {
  font-style: italic;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

header,
main,
footer,
.download {
  padding: 1em;
  margin-bottom: 1em
}

@media (min-width: 32rem) {
  header,
  main,
  footer,
  .download {
    padding: 1em 2em;
  }
}

footer,
header {
  text-align: center;
}

footer {
  font-size: .825em;
}

header p {
  font-size: 1.25em;
  line-height: 1.25;
}

main {
  background-color: var(--main-color);
  padding-top: 2em;
  padding-bottom: 2em;
  border-color: var(--main-border-color);
  border-width: 1px 0;
  border-style: solid;
  overflow-x: hidden;
  /* container-type: inline-size; */
  /* container-name: main; */
}

main *:target {
  outline: 1px solid dodgerblue;
  padding: .5rem 1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}

aside ul {
  list-style: none;
}

aside li {
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--main-border-color);
  padding-bottom: .5rem;
}

@media (min-width: 60rem) {
  @supports (display: grid) {
    main {
      display: grid;
      grid-template-columns: minmax(min-content, 18rem) 1fr;
      overflow-x: inherit;
      grid-gap: 2rem;
    }
    aside {
      border-right: 1px solid var(--main-border-color);
      padding-inline-end: 2rem;
      /* align-self: start; */
    }
    aside ul {
      position: sticky;
      top: 0;
      padding-block-start: .5rem;
    }
  }  
}

/* @end default */

/* @group page components */

.pkg {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}

a.github {
  color: var(--color-lighter);
  background-color: var(--color-darker);
  padding: 1rem 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border-radius: .25rem;
}

a.github:focus,
a.github:hover {
  text-decoration: none;
  background-color: #000;
}

.github svg {
  display: inline-block;
  fill: var(--color-lighter);
  vertical-align: sub;
  width: 2rem;
  height: 2rem;
}

.demo {
  padding: 1.5em 1em;
  position: relative;
  border-top: 1px solid var(--demo-border-color);
}

@media (min-width: 42em) {
  .demo {
    padding: 4em 2em;
  }
}

.container {
  width: 40em;
  max-width: 100%;
  margin: auto;
}

.demo .container {
  position: relative;
  text-align: center;
}

.demo label {
  text-align: center;
  text-shadow: var(--shadow-color) 0 1px 0;
  /*font-weight: bold;*/
}

.demo .autogrow {
  border: 0;
  box-shadow: 0 8px 20px rgb(0 0 0 / 25%);
  border-radius: 4px;
  margin-bottom: 1.5em;
}

.demo .autogrow-area {
  color: var(--color-darker);
}

.demo .autogrow-area:focus {
  border-radius: inherit;
  outline: none;
  box-shadow: 0 0 0 4px dodgerblue;
}

/* @end page components */

/* syntax highlighting */

pre[class*="language"],
code[class*="language"] {
  color: var(--pre-color);
  background-color: var(--color-dark);
  background-color: #000;
}

.token {
  color: deepskyblue;
}

/* .token.tag {
  color: #f85210;
} */

.token.literal-property.property {
  color: tomato;
}

.token.keyword {
  color: mediumorchid;
}

.token.attr-name,
.token.operator {
  color: var(--token-keyword);
}

.token.constant {
  color: var(--token-constant);
}

.token.tag,
.token.function {
  color: var(--token-function);
}

.token.attr-value .token.string,
.token.string-property {
  color: var(--token-string);
}

.token.number {
  color: var(--token-number);
}

.token.parameter {
  color: var(--token-param);
}

.token.punctuation {
  color: hotpink;
}

.token.comment {
  color: var(--token-comment);
}
