<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ title }}</title>
<base href="{{ '/' | url }}">
<link rel="stylesheet" href="./css/global.css">
<link rel="stylesheet" href="./dist/autogrow.css">
</head>
<body>

<header>
<ul class="pkg">
  <li>
    <a class="github" href="{{ pkg.homepage }}">
      {{ github_icon | safe }}
      GitHub
    </a><br>
  </li>
  <li>
    v{{ pkg.version }}
  </li>
</ul>
<div class="container">
  <picture>
    <source srcset="./logo.avif" type="image/avif">
    <source srcset="./logo.png" type="image/png">
    <img 
      src="./logo.png"
      decoding="async"
      loading="lazy"
      width="520"
      height="530"
      alt="autogrow">
  </picture>
  <h1>autogrow</h1>
  <p>Less frustrating textareas...</p>
</div>
</header>

<div class="demo">
<div class="container">
<label for="autogrow">Try it Out!</label>
<textarea
  autofocus
  id="autogrow"
  rows="14"
  cols="60"
  placeholder="Type something…">
</textarea>
</div>
</div>

<main>
<aside>
{% if toc %}
<h2>Table of Contents</h2>
<ul>
  {% for _, item in toc %}
  <li>
    <a href="#{{ item.id }}" data-id="{{ item.id }}">{{ item.label }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
</aside>
<div class="container">
{{ content | safe }}
</div>
</main>

<footer>
...
</footer>

<script type="module">
import { autogrow } from "./dist/autogrow.js";
autogrow('autogrow');

const toc = document.querySelectorAll("aside ul a");
const headings = document.querySelectorAll("main h2");

if (toc) {
  for (const h of headings) {
    // console.log(h)
    for (const t of toc) {
      if (t.textContent === h.textContent) {
        console.log(t)
        h.id = t.getAttribute("data-id");
      }
    }
  }
}
</script>

</body>
</html>
